<footer class="border-top footer text-muted text-center" style="background-color:#1B0035 !important; border-color: #1B0035 !important">
    <div class="container" style="color:white">
        Copyright  &copy; Spark Application @DateTime.Now.Year
    </div>
</footer>